Django==5.1.4
psycopg2-binary==2.9.10
celery==5.3.6
redis==5.0.1
django-crispy-forms>=2.3
crispy-bootstrap5
python-decouple==3.8
Pillow==11.0.0
pytest>=7.4
pytest-django>=4.7
factory-boy>=3.3
djangorestframework==3.14.0
drf-spectacular==0.27.0
PyJWT==2.10.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.3.1
faker==22.0.0
